body {
    background-image: url('../assets/index-fundo2.jpg');
}

.btn-login {
    position: absolute;
    left: 50.7%;
    top: 21%;
    transform: translateX(-50%);

    width: 330px;
    height: 190px;

    background-image: url('../assets/button_login.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-mask-image: url('../assets/button_login.png');
    mask-image: url('../assets/button_login.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

    transition: .2s ease;
}

.btn-login:hover {
    background-image: url('../assets/button_login-hover.png');
    transform: translateX(-50%) scale(1.02);
    -webkit-mask-image: url('../assets/button_login-hover.png');
    mask-image: url('../assets/button_login-hover.png');
}

.btn-cadastro {
    position: absolute;
    left: 55.4%;
    top: 53%;
    transform: translateX(-83%);

    width: 400px;
    height: 310px;

    background-image: url('../assets/button_cadastro.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-mask-image: url('../assets/button_cadastro.png');
    mask-image: url('../assets/button_cadastro.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

    transition: .2s ease;
}

.btn-cadastro:hover {
    background-image: url('../assets/button_cadastro-hover.png');
    -webkit-mask-image: url('../assets/button_cadastro-hover.png');
    mask-image: url('../assets/button_cadastro-hover.png');
}

.btn-qa {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);

    width: 980px;
    height: 390px;

    background-image: url('../assets/button_q&a.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-mask-image: url('../assets/button_q&a.png');
    mask-image: url('../assets/button_q&a.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

    transition: .2s ease;
}

.btn-qa:hover {
    background-image: url('../assets/button_q&a_pressed.png');
    transform: translateX(-50%) scale(1.02);
    -webkit-mask-image: url('../assets/button_q&a_pressed.png');
    mask-image: url('../assets/button_q&a_pressed.png');
}

@media (max-height: 1100px), (max-width: 1366px) {

  .btn-login {
    width: clamp(220px, 28vw, 330px);
    height: clamp(120px, 18vh, 190px);
    top: 22%;
    left: 50.3%;
    transform: translateX(-50%);
  }

  .btn-cadastro {
    width: clamp(280px, 32vw, 400px);
    height: clamp(200px, 28vh, 310px);
    top: 53.2%;
    left: 49.4%;
    transform: translateX(-46%);
  }

  .btn-qa {
    width: clamp(520px, 68vw, 790px);
    height: clamp(200px, 32vh, 270px);
    top: 72.5%;
    left: 50%;
    transform: translateX(-50%);
  }
}