body {    
    background-image: url('../assets/login-fundo.jpg')
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.btn-voltar {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-voltar img {
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    transform: rotate(180deg);

    transition: .3s ease;
}

.btn-voltar img:hover {
    filter: brightness(1.2);
    transform: rotate(180deg) scale(1.04);
}

.login-forms {
    position: absolute;
    top: 60.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 27px;
}

input {
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 271px;
    height: 51px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    color: white;
}

.btn-enviar {
  background: none;
  align-self: center;
  border: none;
  padding-top: 10px;
  cursor: pointer;
  display: inline-block;
  overflow: visible; 
  width: auto;
  height: auto;
}

.btn-enviar img {
  display: block;
  width: 73px;             /* ajuste pra seu tamanho desejado */
  height: auto;
  object-fit: contain;
}

input:focus {
    outline: none;
}