body {    
    background-image: url('../assets/login-fundo.jpg')
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.btn-voltar {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-voltar img {
    width: 190px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    transform: rotate(180deg);

    transition: .5s ease;
}

.btn-voltar img:hover {
    filter: brightness(1.2);
    transform: rotate(180deg) scale(1.07);
}

.login-forms {
    position: absolute;
    top: 57.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 46px;
}

input {
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 390px;
    height: 70px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    color: rgb(35, 169, 68);
}

.btn-enviar {
  background: none;
  align-self: center;
  border: none;
  padding-top: 10px;
  cursor: pointer;
  display: inline-block;
  overflow: visible; 
  width: auto;
  height: auto;
}

.btn-enviar img {
  display: block;
  width: 85px;
  height: auto;
  object-fit: contain;
}

.btn-enviar img:hover {
  filter: brightness(1.2);
  transform: scale(1.06);
  transition: .2s ease;
}

input:focus {
    outline: none;
}

@media (max-height: 1100px), (max-width: 1366px) {
    .login-forms {
        gap: 89%;
        top: 61%;
    }
    input {
        width: 320px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.404);
    }
}