body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    padding: 0px 10px;
    height: 7vh;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-ul li {
    margin: 10px 10px;
}

.nav-ul li a {
    color: #fff;
}

#logo {
    color: #fff;
    margin: 10px 10px;
}


