# Ambiente
*.log
*.tmp

# Windows
Thumbs.db
desktop.ini

# Editor
.vscode/

# XAMPP/WAMP (não subir servidor)
xampp/
wamp64/

# Dependências
node_modules/
vendor/Bootstrap5/js/*.map
vendor/Bootstrap5/css/*.map
vendor/