<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/padrao.css">
    <link rel="stylesheet" href="../../CSS/login.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <title>Login</title>
</head>
<body>

    <header>
        <button onclick="window.location.href='../../index.html'" class="btn-voltar"><img src="../../assets/button-return.png" alt="Voltar"></button>
    </header>

    <main>
        <form action="../url.php" method="POST" class="login-form">
			<input type="hidden" name="url" value="login_user">
			<h1> Login </h1>
			<div>
			<label for="email">Email:</label><br>
            <input id="email" type="email" name="email" required> <br>
			</div>
			<div>
			<label for="password">Senha:</label><br>
			<input id="password" type="password" name="password" required>
			</div>
			<button type="submit" class="btn-enviar">
				Enviar
            </button>
        </form>
    </main>

    <footer class="footer">
        <p>© 2025 AUDIO·ANG3L LIBRARY·01 — CRIADO POR JOÃO PEDRO GALVERO APENAS PARA USO EDUCATIVO — AAL01</p>
    </footer>

</body>
</html>
