body {    
    background-image: url('../assets/login-fundo.jpg')
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center; 
}

.btn-voltar {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-voltar img {
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    transform: rotate(180deg);

    transition: .3s ease;
}

.btn-voltar img:hover {
    filter: brightness(1.2);
    transform: rotate(180deg) scale(1.04);
}

.login-forms {
    position: absolute;
    top: 60.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.signup-form {
	background-color: #191919;
	border-radius: 15px;
	width: 400px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.signup-form div {
	margin: 10px;
}

.signup-form input {
    border-radius: 10px;
    border: none;
    background-color: #242424;
	margin: 10px 0px;
    width: 270px;
    height: 40px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    color: white;
}

.signup-form input:focus {
	outline: none;
}

.signup-form button {
	background-color: #433194;
	width: 270px;
	height: 40px;
	color: #fff;
	border-radius: 10px;
	border: none;
	margin: 15px 10px;
}


.signup-form label {
	color: #fff
}

.signup-form h1 {
	color: #433194;
}

