body {    
    background-image: url('../assets/login-fundo.jpg')
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center; 
}

.btn-voltar {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-voltar img {
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    transform: rotate(180deg);

    transition: .3s ease;
}

.btn-voltar img:hover {
    filter: brightness(1.2);
    transform: rotate(180deg) scale(1.04);
}

.login-forms {
    position: absolute;
    top: 60.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.login-form {
	background-color: #191919;
	border-radius: 15px;
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.login-form div {
	margin: 10px;
}

.login-form input {
    border-radius: 10px;
    border: none;
	background-color: #242424;
	margin: 10px 0px;
    width: 270px;
    height: 40px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    color: white;
}

.login-form input:focus {
	outline: none;
}

.login-form button {
    background-color: #433194;
	width: 270px;
	height: 40px;
	color: #fff;
	border-radius: 10px;
	border: none;
	margin: 15px 10px;
}

.login-form label {
	color: #fff
}

.login-form h1 {
	color: #433194;
}


.btn-enviar {
/*
  background: none;
  align-self: center;
  border: none;
  padding-top: 10px;
  cursor: pointer;
  display: inline-block;
  overflow: visible; 
  width: auto;
  height: auto;
*/
}

.btn-enviar img {
  display: block;
  width: 73px;             /* ajuste pra seu tamanho desejado */
  height: auto;
  object-fit: contain;
}

