/* ===== CONFIG PADRÃO DO FUNDO ===== */
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

/* ===== CONFIG PADRÃO DO RODAPÉ ===== */
.footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.068);
    color: rgba(255, 255, 255, 0.39);
    text-align: center;

    font-size: 0.6vw;
    backdrop-filter: blur(2px);
}
