body {
    margin: 0;
    padding: 0;
}

.playlist-img-list {
	height: 200px;
    object-fit: cover;
}

.playlist-img-detail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body {
	background: url('/_static/assets/home-fundo.png') !important;
}

.playlist-menu {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 0 0 60px 60px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

.small-card {
    width: 16rem;
	border-radius: 10px;
}

.small-card .playlist-img-list {
    height: 100px;
    object-fit: cover;
}

.small-card .card-body {
    padding: 0.5rem;
}

.small-card .card-title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.small-card .card-text {
    font-size: 0.85rem;
}

