body {
  background: url('../assets/quem-somos-fundo.jpg') center/cover no-repeat;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-player-wrapper {
  position: relative;
  width: 92vw;
  aspect-ratio: 1853 / 972;
  height: auto;
  background-image: url('../assets/MediaPlayer_Layer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-voltar {
  position: absolute;
  top: calc(5% + 1vw);
  left: calc(2% + 0.3vw);
  width: 4%;
  aspect-ratio: 1 / 1;
  border: none;
  background: url('../assets/button-return2.png') center/contain no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  z-index: 30;
}

.btn-voltar:hover {
  transform: scale(1.05);
  filter: brightness(1.3);
}

@media (max-width: 700px) {
  body {
    background: url('../assets/quem-somos-telamenor.jpg') center/cover no-repeat;
  }

  .media-player-wrapper {
    position: relative;
    width: 95vw;
    height: 98vh;
    aspect-ratio: 1059 / 1483;
    background-image: url('../assets/MediaPlayer_Layer-telamenor.png');
  }

  .btn-voltar {
    position: fixed;
    top: calc(8.5% + 0.01vw);
    left: calc(7.7% + 0.01vw);
    width: calc(9% + 0.01vw);
    background-image: url('../assets/button-return2-telamenor.png');
  }
}
